<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Example - example-example43-production</title>


  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.min.js"></script>
  <script src="script.js"></script>



</head>
<body ng-app="scopeExample">
<div ng-controller="MyController">
  Your name:
  <input type="text" ng-model="username">
  <button ng-click='sayHello()'>greet</button>
  <hr>
  {{greeting}}
</div>
</body>
</html>